---
import agent from "../utils/bluesky";
import { CacheHeaders, ONE_HOUR } from "cdn-cache-control";

import {BlueskyPost} from '@astro-community/astro-embed-bluesky'

const referer = Astro.request.headers.get('Referer');
const url = new URL(referer);
const response = await fetch(url?.origin + '/api/bluesky/latestPost')
if (!response.ok) {
    throw new Error(`Response status: ${response.status}`);
}
const latestPostJson = await response.json();

// const {data} = await agent.getAuthorFeed({
//         actor: 'brob.dev'
//     })
    const latestPost = latestPostJson

    const headers = new CacheHeaders().ttl(300);
    headers.forEach((value, key) => Astro.response.headers.set(key, value))


export const prerender = false;


console.log(Astro.response.headers)
const post = latestPostJson
---
<h4>This is the headers according to Astro.response.headers</h4>
{Astro.response.headers}

<BlueskyPost id={post.uri} />

